@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@900&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.contact-main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.contact-welcome {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-welcome h2 {
    width: 100%;
    text-align: center;
    color: gray;
    margin-top: 20vh;
}

.contact-welcome p {
    width: 40%;
    height: auto;
    text-align: center;
    font-family: 'segoe ui', sans-serif;
    font-size: 20px;
    margin-left: 0vh;
    font-weight: normal;
    color: gray;
    margin-top: 1vh;
}

.contact-details {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: -5vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
}

.contact-details .contact-location {
    width: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: right;
    align-items: right;
}

.contact-location div {
    width: auto;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    border: none;
    flex-direction: row;
    text-align: left;
    margin-left: 30vh;
}

.contact-location div i {
    font-size: 40px;
    color: rgb(220, 235, 240);
    display: inline-block;
}

.contact-location div p {
    margin-left: 5vh;
    margin-top: 1vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 300px;
    color: rgb(150, 150, 250);
    word-wrap: break-word;
}

.contact-details .contact-form {
    display: flex;
    width: 60%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding-top: 5vh;
    margin-left: -10vh;
}

.contact-form input {
    width: 70%;
    background-color: transparent;
    height: 4vh;
    margin-top: 4vh !important;
    border: NONE;
    font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: black;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border: 3px solid rgb(225,230,240);
    font-weight: bold;
}

.contact-form textarea {
    width: 70%;
    background-color: transparent;
    height: 25vh;
    margin-top: 4vh;
    border: none;
    font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: black;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border: 3px solid rgb(225,230,240);
}

.contact-form button {
    width: 74%;
    border: none;
    background-color: #12104E;
    color: white;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 17px;
    margin-top: 4vh;
    font-family: 'segoe ui', sans-serif;
    font-weight: bold;
    transition: ease 0.5s;
}

.contact-form button:hover {
    color: white;
    background-color: #3932F0;
}




