.res-main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.res-header {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 0vh;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: linear-gradient(to right, rgba(2, 2, 1, 0.8), rgba(2, 2, 1, 0.8)), url(../../images/home-hero-bg.jpg);
}

.res-header h1 {
    font-weight: bold;
    color: white;
    margin-top: 20vh;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.res-header h4 {
    font-weight: normal;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 40%;
    margin-top: 0vh;
    word-wrap: break-word;
    text-align: center;
    color: #97f736;
}

.res-item {
    width: 100%;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: row;
}

.res-item .item-detail {
    width: 55%;
    height: auto;
    display: flex;
    padding-left: 15vh;
    padding-right: 5vh;
    flex-direction: column;
}

.item-detail h1 {
    font-weight: bolder;
    color: #12104E;
    font-family: 'segoe ui', sans-serif;
}

.item-detail p {
    font-size: 18px;
    font-family: 'segoe ui', sans-serif;
    text-align: justify;
    width: 90%;
}

.item-detail a {
    text-decoration: none;
    padding: 2vh;
    background-color: #80D12E;
    width: 40%;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: ease 0.5s;
}

.item-detail a:hover {
    background-color: #68AB26;
    color: #12104E;
}

.res-item .item-desc {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-desc img {
    width: 400px;
    height: 409px;
}